
  
  .main{
    max-width: 1500px;
    background-color: white;
    min-height: 100vh;
  }
  
  .card {
    padding: 2rem;
  }
  
  .read-the-docs {
    color: #888;
  }

  
  .cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .cards{
    margin: 1rem;
  }
  
  .busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
  }

  .titulo-pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin-top: 2rem;
    }

  /* Podria usar grid para manejar las columnas y que quede responsive*/
  .layout-flex{ 
    display: grid;
    grid-template-rows: 400px 10fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "aside"
    "main"
    "footer";
  }

  @media (min-width: 768px) {
   .layout-flex{
    grid-template-columns: 1fr 4fr;
    grid-template-rows: none;
    grid-template-areas: 
    "aside main main main main"
    "aside main main main main"
    "aside main main main main"
    "footer footer footer footer footer";
   }   
  }

  .aside{
    grid-area: aside;
    background-color: #006FB3;
  }

  .buscador{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 1rem;
    background-color: #eb3c46;
    width: 100%;
    margin-top: 3rem;
    padding: 3rem;
    }

  .input-text{
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
  }

  .main{
    grid-area: main;
  }

  .table-container{
    display: flex;
    margin: 100px;
  }

  .footer{
    grid-area: footer;
    background-color: #A8B7C7;
  }
  